<head>
<head>
<meta charset="UTF-8">
<meta name="Viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-compatible" content="ie=edge">
<title>Layout</title>
<link rel="stylesheet"href="./estilos.css">

</head>
<body>
    <header class="cabecera-principal"> <h2>Barra para Herramientas </h2></header>
     <section class="seccion-principal"> 
         <aside><h2> Contenido Lateral </h2></aside>
         <main class="main-principal">
            <header><h2> Sub-barra de Herramientas</h2></header> 
            <section><h2> Sección Principal</h2></section>

     </section>
</body>
</head>